

.colon{
display: flex;
flex-direction: row;
justify-content: center;

align-items: center;
}

.link-to {
  text-decoration: none;
}

.espace{
  margin: 5% 5%;
}

.cat_title{
  border-radius: 10px;
  width: 100%;
  padding : 10px 250px;
  font-size: 30px;
  color: brown;
  background-color: rgba(250, 165, 165, 0.226) ;
}